mat-toolbar {
    gap: 1rem;
}

mat-icon {
    vertical-align: middle;
    position: relative;
    bottom: 3px;
}

h1 {
    display: inline-block;
    margin-left: 1rem;
}

.spacer {
    flex: 1 1 auto;
}