<mat-toolbar color="primary">
  <a routerLink="/" title="Start">
    <mat-icon>{{icon | async}}</mat-icon>
    <h1>{{this.title.getTitle() }}</h1>
  </a>
  <span class="spacer"></span>
  <mat-button mat-icon-button [matMenuTriggerFor]="menu" aria-label="App wechseln" matTooltip="App wechseln">
    <mat-icon>apps</mat-icon>
  </mat-button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Start</span>
    </a>
    <a mat-menu-item routerLink="/fax">
      <mat-icon>fax</mat-icon>
      <span>Fax-Generator</span>
    </a>
    <a mat-menu-item routerLink="/erstattung">
      <mat-icon>monetization_on</mat-icon>
      <span>Antrag auf Erstattung</span>
    </a>
  </mat-menu>
  <a routerLink="/about" data-test="about-button">
    <mat-icon mat-icon-button>info_outline</mat-icon>
  </a>
</mat-toolbar>
<router-outlet></router-outlet>