:host {
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1;

    @media (min-width: 640px) {
        max-width: 1640px;
        width: 80%;
        margin: auto;

        grid-template-columns: repeat(2, 50%);
    }
}

mat-form-field {
    width: 100%;
}

mat-slide-toggle {
    vertical-align: middle;
}

address {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    font-style: normal;

    mat-form-field {
        flex: 1 0 calc(50% - .5rem);

        &:nth-child(1) {
            flex: 1 0 calc(70% - .5rem);
        }
        &:nth-child(2) {
            flex: 1 0 calc(30% - .5rem);
        }
    }
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    mat-form-field {
        flex: 1 1 auto;
        width: auto;
    }

    button {
        flex: 0 1 auto;
    }
}

.preview {
    position: relative;
    mat-progress-spinner {
        position: absolute;
        top: calc(50% - 2rem);
        margin-left: calc(50% - 50px);
    }
    pdf-viewer {
        position: relative;
        display: block;
        min-height: max(calc(100vh - 8rem), 4rem);
    }
}