<h1 mat-dialog-title>Automatische Koordinatensuche</h1>
<div mat-dialog-content>
    <p>
        Führt automatisch eine Suche nach X- und Y-Koordinaten durch und verwendet diese im Übungs-Fax.<br />
        Zu diesem Zweck wird der angegebene Ort an den Server von OpenStreetMap übertragen.<br />
        Durch Aktivierung stimmen Sie der Datenschutzerklärung von OpenStreetMap zu, die Einstellung wird in diesem Browser gespeichert.
    </p>
    <p>
        Ist die automatische Koordinatensuche deaktiviert oder werden für den Ort keine Koordinaten gefunden,<br />
        wird als Standardwert ein Punkt in Deutschland verwendet.
    </p>
</div>
<div mat-dialog-actions align="end">
    <a mat-button href="https://wiki.osmfoundation.org/wiki/Privacy_Policy" target="_blank">Datenschutzerklärung</a>
    <button mat-button mat-dialog-close cdkFocusInitial>Schließen</button>
</div>