<mat-card routerLink="fax">
    <mat-card-header>
        <mat-icon mat-card-avatar>fax</mat-icon>
        <mat-card-title>Fax-Generator</mat-card-title>
        <mat-card-subtitle>Übungs-Faxe generieren</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/uebungs-fax.webp" alt="Übungs-Fax">
    <mat-card-content class="mat-body">
        <p>Erlaubt es, mit möglichst einfachen Mitteln und ohne technisches Wissen ein Fax bereitstellen zu können, das sich möglichst nahe am Vorbild der Leistelle orientiert und ohne Formatvorlagen auskommt, welche nicht zuletzt durch proprietäre, notorisch unzuverlässige und häufig zu sich selbst inkompatible Microsoft-Office Produkte verunstaltet werden.</p>
    </mat-card-content>
</mat-card>
<mat-card routerLink="erstattung">
    <mat-card-header>
        <mat-icon mat-card-avatar>monetization_on</mat-icon>
        <mat-card-title>Antrag auf Erstattung <mat-icon>fiber_new</mat-icon></mat-card-title>
        <mat-card-subtitle>Zur Vorlage beim Arbeitgeber</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/antrag-auf-erstattung.webp" alt="Antrag auf Erstattung">
    <mat-card-content class="mat-body">
        <p>Ermöglicht das Erstellen von Anträgen für Erstattung gemäß Art. 9 und Art. 10 BayFwG zur Vorlage beim Arbeitgeber nach Einsätzen während der Arbeitszeit.</p>
        <p>Das Dokument ist ausschließlich mit Unterschrift und / oder Stempel gültig.</p>
    </mat-card-content>
</mat-card>