<p>Beim Teilen werden alle im Fax enthaltenen Informationen an den jeweiligen Anbieter übermittelt.</p>

<mat-action-list>
    <button mat-list-item (click)="copyLink()">
        <mat-icon mat-list-icon>content_copy</mat-icon>
        <span mat-line>Link kopieren</span>
    </button>

    <a mat-list-item *ngFor="let channel of socialMediaChannels" [href]="channel.safeShareUrl">
        <mat-icon mat-list-icon>{{channel.icon}}</mat-icon>
        <span mat-line>{{channel.name}}</span>
    </a>
</mat-action-list>